{
    "ignore": [
        "node_modules/**/*"
    ],
    "sourceMaps": "inline",
    "retainLines": true,

    "presets": [
        "es2015",
        "stage-0",
        "react"
    ],
    "plugins": [
        "transform-runtime"
    ]
}
